<header class="">
  <div class="container-fluid head_container">
      <div class="head_left p-3">
          <a routerLink="/main" title="Home">
              <span class="head_logo"><span class="span_logo">Container</span>Mirr∞r</span>
          </a>
      </div>
      <div class="head_middle p-3"> 
          <!-- Millieu -->
      </div>
      <div class="head_right p-3">
          <ul class="ul_pc">
              <li class="nav-item" >
                  <div    class="nav-link link-logo a_search" 
                          title="Search"
                  >
                      <!-- <form [formGroup]="monForm" class="form_search" > 
                              <input  type="text" placeholder="Search by name or id ..." 
                                      formControlName="search" 
                                      class=" form-control search_input" 
                                      id="id_search_input"
                                      [ngClass]="{'show': isInputSearch, 'fade': !isInputSearch }"
                                      (keyup)="inputSearchChange()"
                      > 
                              <i  class="material-icons i_close" 
                                  [ngClass]="{'show': isInputSearch, 'fade': !isInputSearch }"
                                  (click)="clear()"
                                  ></i>
                              <span class="material-icons search_material" (click)="toggleSearch()" >
                                  search
                              </span>
                      </form> -->
                      <span class="material-icons search_material"  >
                        search
                    </span>
                  </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link link-logo a_transition" routerLink='#' title="Accueil" routerLinkActive="active">
                      Accueil
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-logo a_transition" routerLink='#' title="A propos de nous"
                      routerLinkActive="active">
                  A propos de nous

                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link link-logo a_transition" routerLink='#' title="Les Villas"
                      routerLinkActive="active">
                      Les Villas
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-logo a_transition" routerLink='#' title="Blog"
                      routerLinkActive="active">
                      Blog
                  </a>
              </li>
              
              <li class="nav-item position-relative">
                <a class="nav-link link-logo a_transition se_connecter d-flex flex-row justify-content-around align-items-center" routerLink='#' title="Se connecter"
                      routerLinkActive="active_se_connecter">
                      
                        <span class="material-icons account_circle" >
                          account_circle
                        </span>
                      
                  <div class="ml-2">Se connecter</div> 
                </a>
              </li>
          </ul>
          <!-- Menu Mobile  -->
          <span   class="material-icons menu_mobile"
                  [ngClass]="{'menu_mob': true, 'close_mob': '' }"
                  >
          </span>
      </div>
  </div>
  <!-- Menu Mobile -->
  <!-- <div class="mobile_menu" [ngClass]="{'fade d-none': isShowMenu, 'show': !isShowMenu }">
      <div class="head_right p-3">
          <ul class="ul_pc">
              <li class="nav-item" >
                  <div    class="nav-link link-logo a_search" 
                          title="Search"
                  >
                      <form [formGroup]="monForm" class="form_search" > 
                              <input  type="text" placeholder="Search a pokemon ..." 
                                      formControlName="search" 
                                      class=" form-control search_input" 
                                      id="id_search_input"
                                      (keyup)="inputSearchChange()"
                      >
                              <i  class="material-icons i_close" 
                                  (click)="clear()"
                                  ></i>
                              <span class="material-icons search_material" (click)="toggleSearch()" >
                                  search
                              </span>
                      </form>
                  </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link link-logo a_transition" routerLink='/types' title="Types" routerLinkActive="active">
                      Types
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link link-logo a_transition" routerLink='/abilities/0/20' title="Abilities"
                      routerLinkActive="active">
                      Abilities
                  </a>
              </li>     
              <li class="nav-item position-relative">
                  <a class="nav-link link-logo a_transition" routerLink='/pokedex' title="Your pokedex"
                      routerLinkActive="active">
                      <img  
                          src='assets/img/pokeball.png'
                      >
                  </a>
                  <span class="badge badge-success total_pokedex">
                      {{this.nbrMyPokedex}}
                  </span>
              </li>
          </ul>
      </div>
  </div> -->
</header>

<div id="carouselExampleIndicators" class="carousel slide position-relative" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/img/car1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/img/car2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/img/car3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

  <div class="col-md-5 p-lg-5 mx-auto my-5 position-absolute punny_headline">
    <h1 class="display-4 font-weight-bold">Villa Container</h1>
    <p class="lead font-weight-normal">
      And an even wittier subheading to boot.
      Jumpstart your marketing efforts with this example based on Apple's marketing pages.</p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
  </div>

</div>

<div class="villas">
  <div class="col-md-8" class="our_villas container">
    <p class="subtitle text-primary">Nos Villas en Guadeloupe</p>
    <h2>Notre guide</h2>
  </div>
</div>



<div class="container_img container-fluid d-flex flex-column justify-content-between ">
  <div class="top container_img container-fluid d-flex flex-row justify-content-between ">
    <img  src="../assets/img/7.jpg">
    <img  src="../assets/img/2.jpg">
  </div>
  <div class="bottom container-fluid d-flex flex-row justify-content-between">
    <img  src="../assets/img/3.jpg">
    <img  src="../assets/img/4.jpg">
    <img  src="../assets/img/5.jpg">
    <img  src="../assets/img/6.jpg">
  </div>
</div>


<section>


</section>

<footer>
  <div class="footer">
      <ul>
          <li class=" ">
              <a class="nav-link link-logo" routerLink='/main' title="Home">
                  <div class="container_logo_bottom">
                      <span class="logo_bottom_t">8Mirr∞r</span> <span class="logo_bottom_b">Group</span>
                  </div>
              </a>
          </li>
          <!-- <li>
              <a href='https://pokeapi.co/' target="_blank" title="PokéApi"> <img class="card-img-top"
                      src="assets/img/papi.png" alt="PokéApi" />
              </a>
          </li> -->
          <li><span class="about_bottom">About Us</span>
              <div class="reseaux_bottom">
                  <!-- <a routerLink="/admin" title="Admin Michael Hatchi">
                      <fa-icon [icon]="faUserCircle"></fa-icon>
                  </a>
                  <a href='https://www.linkedin.com/in/m-hatchi-bb4b49156/' title="Linkedin" target="_blank">
                      <fa-icon class="fa-git" [icon]="faLinkedinIn"></fa-icon>
                  </a>
                  <a href='https://github.com/objectifMH/pokemirroor' target="_blank" title="Github">
                      <fa-icon [icon]="faGithub"></fa-icon>
                  </a> -->
              </div>
          </li>
      </ul>
      <div class="footer_bottom">
          <span>©2021 Copyright.fr. All right reserved.</span>
      </div>
  </div>
</footer>